@model MvcNote.Models.Note

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NoteId" />
            <div class="form-group">
                <label asp-for="FiliereID" class="control-label"></label>
                <select asp-for="FiliereID" class="form-control" asp-items="ViewBag.FiliereID"></select>
                <span asp-validation-for="FiliereID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourID" class="control-label"></label>
                <select asp-for="CourID" class="form-control" asp-items="ViewBag.CourID"></select>
                <span asp-validation-for="CourID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
